<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Noto+Serif+JP:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/style2.css">
		<link rel="stylesheet" href="../static/css/icomoon.css">

		<title>Title here</title>
	</head>
	<body>
		<div class="header">
			<div class="logo"><h1>News Aggregator</h1></div>

			<div class="search"><input type="text" placeholder="Try 'controversial bitcoin articles from the last month'"></div>

			<div class="graph-link">
				<span class="icon-stats-dots"></span>
			</div>
		</div>
		
		<div class="container">
		<div class="stream-container">
			<div class="stream-nav">
				<p>At a glance</p>
				<div>
					<span>usa</span>
					<span>last 1 day</span>
					<input type="text" placeholder="type your filter...">
				</div>
			</div>
			<div class="stream">
				<div class="stream-item">
					<div class="si-header">
						<h3>This is a news source</h3>
					</div>
					<div class="si-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum illum exercitationem.</p>
					</div>
					<div class="si-footer">
					<p>CNN | 6 hours ago</p>
					</div>
				</div>
				<div class="stream-item">
					<div class="si-header">
						<h3>This is a news source</h3>
					</div>
					<div class="si-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum illum exercitationem.</p>
					</div>
					<div class="si-footer">
					<p>CNN | 6 hours ago</p>
					</div>
				</div>
				<div class="stream-item">
					<div class="si-header">
						<h3>This is a news source</h3>
					</div>
					<div class="si-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum illum exercitationem.</p>
					</div>
					<div class="si-footer">
					<p>CNN | 6 hours ago</p>
					</div>
				</div>
				<div class="stream-item">
					<div class="si-header">
						<h3>This is a news source</h3>
					</div>
					<div class="si-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum illum exercitationem.</p>
					</div>
					<div class="si-footer">
					<p>CNN | 6 hours ago</p>
					</div>
				</div>
				<div class="stream-item">
					<div class="si-header">
						<h3>This is a news source</h3>
					</div>
					<div class="si-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum illum exercitationem.</p>
					</div>
					<div class="si-footer">
					<p>CNN | 6 hours ago</p>
					</div>
				</div>
				<div class="stream-item">
					<div class="si-header">
						<h3>This is a news source</h3>
					</div>
					<div class="si-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum illum exercitationem.</p>
					</div>
					<div class="si-footer">
					<p>CNN | 6 hours ago</p>
					</div>
				</div>
			</div>

			<div class="stream-container">
			<div class="stream-nav">
				<p>At a glance</p>
				<div>
					<span>usa</span>
					<span>last 1 day</span>
					<input type="text" placeholder="type your filter...">
				</div>
			</div>
			<div class="stream">
				<div class="stream-item">
					<div class="si-header">
						<h3>This is a news source</h3>
					</div>
					<div class="si-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum illum exercitationem.</p>
					</div>
					<div class="si-footer">
					<p>CNN | 6 hours ago</p>
					</div>
				</div>
				<div class="stream-item">
					<div class="si-header">
						<h3>This is a news source</h3>
					</div>
					<div class="si-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum illum exercitationem.</p>
					</div>
					<div class="si-footer">
					<p>CNN | 6 hours ago</p>
					</div>
				</div>
				<div class="stream-item">
					<div class="si-header">
						<h3>This is a news source</h3>
					</div>
					<div class="si-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum illum exercitationem.</p>
					</div>
					<div class="si-footer">
					<p>CNN | 6 hours ago</p>
					</div>
				</div>
				<div class="stream-item">
					<div class="si-header">
						<h3>This is a news source</h3>
					</div>
					<div class="si-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum illum exercitationem.</p>
					</div>
					<div class="si-footer">
					<p>CNN | 6 hours ago</p>
					</div>
				</div>
				<div class="stream-item">
					<div class="si-header">
						<h3>This is a news source</h3>
					</div>
					<div class="si-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum illum exercitationem.</p>
					</div>
					<div class="si-footer">
					<p>CNN | 6 hours ago</p>
					</div>
				</div>
				<div class="stream-item">
					<div class="si-header">
						<h3>This is a news source</h3>
					</div>
					<div class="si-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum illum exercitationem.</p>
					</div>
					<div class="si-footer">
					<p>CNN | 6 hours ago</p>
					</div>
				</div>
			</div>



			</div>
		</div>
	</body>
</html>