{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style>

	/* .container {
		float:left;	
		width:50%;
		height:70%;
		border-left:2px solid black;
		border-bottom:2px solid black;
		margin-left:30em;
		position:fixed;
		pointer-Events: none;

	} */

	.tooltip {
   		position: absolute;
    	z-index: 10;
    	visibility: hidden;
    	background-color: rgb(160, 104, 233);
    	text-align: center;
    	padding: 4px;
    	border-radius: 4px;
    	font-weight: bold;
    	color:white;
}
	/* 
	 * visualization purposes
	*/

	/* .graph{
		border: 1px solid black;
		
	} */

	.circle{
		transition: all 0.2s;
	}

</style>

{% endblock %}
{% block content %}

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.min.js"></script>
<script type="text/javascript">

//set up the tooltip for mouseovers
var tooltip = d3.select(".container")
  .append("div")
  .attr('class', 'tooltip')


//creating the svg
var w = 750;
var h = 500;
var yPos = 75;
var xPos = 300;

var svgContainer = d3.select(".container").append("svg")
                                     .attr("width", w)
                                     .attr("height", h)
									 .attr("class","graph");
									 


$("svg").css({top: yPos, left: xPos, position:'absolute'});
 
//lines = axis. Reference point is now the top left corner of the svg
var jsonLines = [
 	{"x1": 20, "y1":0, "x2":20, "y2":h-15, "stroke":"black", "stroke-width":"2"},
	{"x1": 20, "y1":h-15, "x2":w, "y2":h-15, "stroke":"black", "stroke-width":"2"}];
var axes = svgContainer.selectAll("line")
						.data(jsonLines)
						.enter()
						.append("line");

var lineAttributes = axes
					 .attr("x1", function(d) {return d.x1;})
					 .attr("y1", function(d) {return d.y1;})
					 .attr("x2", function(d) {return d.x2;})
					 .attr("y2", function(d) {return d.y2;})
					 .style("stroke", function(d) {return d.stroke;})
					 .style("stroke-width", function(d) {return d["stroke-width"];})
					 ;

// <text x="20" y="20" font-family="sans-serif" font-size="20px" fill="black">Liberal                                                         Conservative</text>;
// <text x="70" y="70" font-family="sans-serif" font-size="20px" fill="red">Hello!</text>;

var jsonCircles = [];
for (key in source_data){
	jsonCircles.push({"x_axis": 375 + source_data[key]['Bias']*3.8, "y_axis": 20+source_data[key]['Locality']*500, "radius": 5+source_data[key]['Impact']*3, "id": key, "name": source_data[key]['Name']});
}


//circles!
// var jsonCircles = [
//    { "x_axis": 400, "y_axis": 150, "radius": 5, "id": "the-new-york-times", "name": "The New York Times"},
//    { "x_axis": 450, "y_axis": 237, "radius": 10, "color" : "purple", "id": "cnn", "name": "CNN"},
//    { "x_axis": 50, "y_axis": 450, "radius": 30, "color" : "red", "id": "cnbc", "name": "CNBC"},
//    { "x_axis": 500, "y_axis": 120, "radius": 20, "color" : "blue", "id": "nbc-news", "name": "NBC News"},
//    { "x_axis": 560, "y_axis": 300, "radius": 10, "color" : "purple", "id": "business-insider", "name": "Business Insider"},
//    { "x_axis": 700, "y_axis": 390, "radius": 20, "color" : "red", "id": "the-spectator", "name": "The Columbia Daily Spectator"}];
 
// var svgContainer = d3.select("body").append("svg")
//                                     .attr("width", 900)
//                                     .attr("height", 500);
 
var circles = svgContainer.selectAll("circle")
                          .data(jsonCircles)
                          .enter()
                          .append("circle");

var circleAttributes = circles
                       .attr("cx", function (d) { return d.x_axis; })
                       .attr("cy", function (d) { return d.y_axis; })
                       .attr("r", function (d) { return d.radius; })
                       .style("fill", function(d) { return `rgb(${(d.x_axis)*255/w},${0},${255-((d.x_axis)*255/w)})`; })
					   .style("transition", function(d){return "all 0.2s"})
					   .style("stroke", "white")
					   .on("mouseover", function(d) {
						   
							d3.select(this).attr("r", function (d) { return d.radius*1.5; });
						   return tooltip.style("visibility", "visible").text(d.name).style("top", (event.pageY - 30) + "px").style("left", event.pageX + "px");
						})
				       //.on("mouseover", function() {return tooltip.style("top", (event.pageY - 30) + "px").style("left", event.pageX + "px");})
					   .on("click",function(d){ return loadPage(d.id)})
					   .on("mouseout", function(d) {
						d3.select(this).attr("r", function (d) { return d.radius; });
							return tooltip.style("visibility", "hidden");
						});

function loadPage(id){
	window.location = "/view-source-stats/"+id;
}

//axis labels
var jsonText = [
 	{"x": 20, "y":h, "font-family":'"Lato"', "font-size":"10pt", "fill":"black", "text":"Liberal", "rotate":0},
	{"x": w-100, "y":h, "font-family":'"Lato"', "font-size":"10pt", "fill":"black", "text":"Conservative", "rotate":0},
	{"x": -475, "y":15, "font-family":'"Lato"', "font-size":"10pt", "fill":"black", "text":"Local", "rotate":-90},
	{"x": -100, "y":15, "font-family":'"Lato"', "font-size":"10pt", "fill":"black", "text":"International", "rotate": -90}];
var labels = svgContainer.selectAll("text")
					 	 .data(jsonText)
						 .enter()
						 .append("text");

var textAttributes = labels
					 .text(function(d) {return d.text;})
					 .attr("dx", function(d) {return d.x;})
					 .attr("dy", function(d) {return d.y;})
					 .style("text-anchor","front")
					 .attr("transform", function(d) {return "rotate("+d.rotate+")"})
					 //.attr("font-size", function(d) {return d["font-size"];})
					 .attr("font-family", function(d) {return d["font-family"];});
					//  .attr("fill", function(d) {return d.fill;})

// var url = 'https://newsapi.org/v2/everything?' +
//           'q=Apple&' +
//           'from=2019-11-09&' +
//           'sortBy=popularity&' +
//           'apiKey=1a3c01b8b3e7430f9b253b26a3b59a8d';

// var req = new Request(url);

// fetch(req)
//     .then(function(response) {
//         console.log(response.json());
//     })


</script>
{% endblock %}